* {
    margin: 0;
    padding: 0;
    /* background-color: #fff; */
}

#index_background {
    position: absolute;
    /* background:  #3F79CD url("../img/background-top.png") no-repeat fixed center; */
    background: linear-gradient(45deg, #4DCEAE 0%, #3F79CD 90%);
    width: 100%;
    height: 100%;
}

#login_index {
    position: absolute;
    top: 40px;
    right: 80px;
    float: right;
    width: 40%;
    height: 90%;
    /* border: 1px solid #000; */
}

h1 {
    position: absolute;
    text-align: center;
    margin-left: -40px;
    width: 600px;
    color: #fff;
    float: left;
    font-size: 36px;
    margin-top: 15%;
    font-family: "宋体";
}

#user_info {
    position: relative;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40%;
    margin-left: 10%;
    margin-bottom: 10%;
}

#usm {
    display: block;
    margin-left: 0px;
    margin-bottom: 6%;
}

#usm::before {
    border-radius: 50%;
    background-image: url("../img/usm.jpg");
    margin-right: 10px;
    content: "";
    float: left;
    height: 30px;
    width: 30px;
    background-size: 100% 100%;
}

#psw {
    display: block;
    margin-left: 0px;
    margin-bottom: 6%;
}

#psw::before {
    border-radius: 50%;
    background-image: url("../img/psw.jpg");
    content: "";
    float: left;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    background-size: 100% 100%;
}

.accunt_info {
    border: 1px solid #999;
    height: 33px;
    width: 290px;
    margin-bottom: 40px;
    padding-left: 10px;
    box-shadow: 0px 0px 2px 2px rgba(226, 226, 226, 0.5)
}

#login input {
    border: 0;
    background-color: #3F79CD;
}

#login {
    color: #222;
    font-weight: 800;
    float: left;
    width: 75%;
    height: 35px;
    margin-left: 40px;
    padding-top: 1%;
    text-align: center;
    line-height: 35px;
    background-color: rgb(57, 124, 250);
    box-shadow: 0px 0px 0px 1px rgb(144, 196, 255)
}

a {
    text-decoration: none;
}

#forget_psw {
    position: relative;
    margin-top: 25%;
    margin-left: 40px;
    font-weight: 700;
}

#forget_psw a {
    color: rgb(90, 90, 90);
}

/* 旋转立方体left */

@keyframes box {
    from {
        transform: rotateX(0deg) rotateY(0deg);
        /* transform: rotateY(0deg); */
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
        /* transform: rotateY(360deg); */
    }
}

#index_box {
    width: 350px;
    height: 350px;
    margin-left: 250px;
    margin-top: 15%;
    position: relative;
    transform-style: preserve-3d;
    animation: box 60s infinite;
    animation-iteration-count: infinite;
    /* normal|alternate; */
    animation-direction: alternate;
}

#index_box div {
    width: 350px;
    height: 350px;
    border-radius: 20%;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 40px;
    line-height: 350px;
    text-align: center;
    color: rgb(245, 238, 238);
}

.one {
    background-color: rgba(250, 0, 196, 0.7);
    transform: rotateX(90deg) translateZ(350px);
}

.two {
    background-color: rgb(252, 164, 33, 0.7);
    transform: rotateX(-90deg) translateZ(350px);
}

.three {
    background-color: rgb(255, 0, 0, 0.7);
    transform: rotateY(90deg) translateZ(350px);
}

.four {
    background-color: rgba(5, 202, 21, 0.7);
    transform: rotateY(-90deg) translateZ(350px);
}

.five {
    background-color: rgba(6, 10, 255, 0.7);
    transform: rotateZ(360deg) translateZ(350px);
    ;
}

.six {
    background-color: rgba(251, 255, 2, 0.7);
    transform: translateZ(-350px);
}

/* 加一行注释测试一下git */